.wraper {
  background-color: var(--cream);
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 9rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 12rem;

  > div:first-of-type {
    min-height: calc(100vh - 16.7rem);
    @media (min-width: 768px) {
      min-height: unset;
      height: 50rem;
    }
    @media (min-width: 1024px) {
      // min-height: calc(100vh - 18rem);
      height: 60rem;
      max-height: 60rem;
    }
  }
  @media (min-width: 768px) {
    min-height: calc(100vh - 12rem);
    height: 100%;
    align-items: unset;
  }

  > button {
    @media (min-width: 768px) {
      margin-left: 5.7rem;
    }
    @media (min-width: 1024px) {
      margin-left: 8.5rem;
    }
  }
  @media (min-width: 1024px) {
    padding-bottom: 10rem;
  }
}

.us_wraper {
  height: 100%;
  &_dark {
    min-height: 90.2rem;
    background-color: #2c343e;
    border-radius: 10px;
    color: var(--cream);
    padding: 6.4rem 2.4rem;
    text-align: center;
    margin-bottom: -62rem;

    @media (min-width: 768px) {
      min-height: 57.3rem;
      margin-bottom: -36.8rem;
      padding: 6.4rem 5.7rem;
    }

    @media (min-width: 1024px) {
      min-height: 57.3rem;
      margin-bottom: -31.8rem;
      padding: 10rem 8.5rem;
    }
    &_content {
      h3 {
        font-size: 2.8rem;
        padding-bottom: 2.4rem;
      }
      p {
        font-size: 1.5rem;
        line-height: 167%;
        opacity: 0.8;
        padding-bottom: 2.4rem;
      }
      @media (min-width: 1024px) {
        max-width: 54.4rem;
        margin: 0 auto;
      }
    }
  }
}
.cards {
  padding-top: 2.4rem;
  @media (min-width: 768px) {
    padding-top: 5.7rem;
  }
  @media (min-width: 1024px) {
    padding-top: 8.5rem;
    display: flex;
    justify-content: space-around;
  }

  .card {
    background-color: var(--green);
    color: var(--cream);
    text-align: center;
    border-radius: 10px;
    padding: 7.2rem 1.2rem 5.1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.4rem;

    @media (min-width: 768px) {
      flex-direction: row;
      padding: 4.1rem 4.8rem 4.1rem 7rem;
      text-align: left;
      justify-content: space-around;
    }
    @media (min-width: 1024px) {
      flex-direction: column;
      padding: 7.2rem 4.7rem 5.1rem;
      text-align: center;
      justify-content: space-between;
      margin-left: 3.2rem;
      margin-bottom: unset;
    }
    &:first-of-type {
      margin-left: unset;
    }

    &_content {
      max-width: 25.5rem;
      @media (min-width: 768px) {
        max-width: 34.4rem;
      }

      h4 {
        padding-bottom: 2.4rem;
        @media (min-width: 768px) {
          padding-bottom: 1.6rem;
        }
      }
      p {
        font-size: 1.5rem;
        line-height: 167%;
      }
    }
    &_image {
      margin-bottom: 5.6rem;
      @media (min-width: 768px) {
        margin-bottom: unset;
      }
      @media (min-width: 1024px) {
        margin-bottom: 5.6rem;
      }
    }
  }
}

.howItWorks {
  color: var(--lightgrey);
  text-align: center;

  @media (min-width: 768px) {
    text-align: left;
    padding-left: 5.7rem;
  }
  @media (min-width: 1024px) {
    padding-left: 8.5rem;
  }
}
