.wraper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quizWraper {
  @media (min-width: 1024px) {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 8.5rem;
    padding-right: 8.5rem;
  }
  &_nav {
    display: none;
    @media (min-width: 1024px) {
      display: flex;
      flex-direction: column;
      width: 25rem;
      padding-bottom: 4rem;
      color: var(--darkgrey);
      h4 {
        padding: 2.4rem 0;
        border-top: 1px solid rgba(131, 136, 143, 0.25);
        &:first-of-type {
          border-top: none;
          padding: 0 0 2.4rem;
        }
      }
      span {
        color: #83888f;
        margin-right: 2.3rem;
      }
    }
  }
  &_quiz {
    height: 100%;
    @media (min-width: 1024px) {
      width: 73rem;
    }
    button {
      margin: 0 auto;
      display: block;
      @media (min-width: 1024px) {
        margin: 0 0 0 auto;
      }
    }
  }
}

.quizStep {
  margin-bottom: 11rem;
  flex-direction: column;
  position: relative;
  &_closed {
    margin-bottom: 4rem;
    @media (min-width: 768px) {
      margin-bottom: 4rem;
    }
  }
  @media (min-width: 768px) {
    margin-bottom: 10rem;
  }
  &_closed {
    margin-bottom: 4rem;
    @media (min-width: 768px) {
      margin-bottom: 5.6rem;
    }
  }
  &:last-of-type {
    margin-bottom: 14.4rem;
  }
  &_heading {
    color: var(--lightgrey);
    padding-bottom: 3.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (min-width: 768px) {
      font-size: 3.2rem;
    }
    @media (min-width: 1024px) {
      font-size: 4rem;
    }
  }

  &_answers {
    display: flex;
    flex-direction: column;
    &_closed {
      display: none;
    }

    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &_answer {
    padding: 2.4rem;
    color: var(--darkgrey);
    background-color: #f4f1eb;
    border-radius: 10px;
    margin-bottom: 1.6rem;
    &:last-of-type {
      margin-bottom: 1rem;
      @media (min-width: 768px) {
        margin-bottom: 0;
      }
    }
    &:hover {
      background-color: var(--orange);
    }
    @media (min-width: 768px) {
      padding: 3.2rem 2.4rem;
      margin-bottom: 0;
      height: 25rem;
      min-width: 22.3rem;
      width: calc((100vw - 130px) / 3);
    }
    @media (min-width: 1024px) {
      max-width: 22.8rem;
    }
  }
  &_radio {
    position: absolute;
    visibility: hidden;
    &:checked ~ label > div {
      background-color: var(--green);
      color: var(--cream);
    }
  }
}

.summary {
  background-color: var(--darkgrey);
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;
  color: var(--cream);
  border-radius: 10px;
  margin-bottom: 5.6rem;

  h6 {
    text-transform: uppercase;
    opacity: 0.8;
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 162%;
    padding-bottom: 0.8rem;
  }
  p {
    font-family: "Fraunces 9pt";
    font-style: normal;
    font-weight: 900;
    font-size: 2.4rem;
    line-height: 167%;

    span {
      color: var(--green);
    }
  }
}

.modal {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9999;
  padding: 3.5rem 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;

  // @media (min-width: 768px) {
  //   padding: 11.4rem;
  // }

  &_close {
    display: none;
  }

  &_content {
    width: 100%;
    height: 100%;
    background-color: var(--cream);
    border-radius: 10px;
    max-height: 59rem;
    margin: auto;
    max-width: 54rem;

    &_inner {
      padding: 4rem 2.4rem;

      @media (min-width: 540px) {
        padding: clamp(1rem, 8vh, 5.6rem);
      }
    }

    h4 {
      background-color: var(--darkgrey);
      color: var(--cream);
      padding: 2.8rem 2.4rem;

      @media (min-width: 540px) {
        padding: clamp(1rem, 6vh, 4rem) 5.6rem;
        font-size: clamp(2.4rem, 6vh, 4rem);
      }
    }
    p {
      margin-bottom: 2.4rem;

      @media (min-width: 540px) {
        margin-bottom: clamp(1rem, 6vh, 4.7rem);
        font-size: clamp(1.1rem, 3vh, 1.6rem);
      }
    }
    button {
      max-width: unset;
      width: fit-content;
    }
  }
  .summary {
    margin-bottom: 0;
    background-color: unset;
    color: var(--darkgrey);
    padding: 0;

    p {
      @media (min-width: 540px) {
        font-size: clamp(1.3rem, 3vh, 2.4rem);
        margin-bottom: clamp(1.4rem, 6vh, 4.7rem);
      }
    }
  }
}

.up {
  display: block;
  transform: rotate(180deg);
}
