* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  height: 100%;
}

:root {
  --green: #0e8784;
  --darkgrey: #333d4b;
  --orange: #fdd6ba;
  --cream: #fefcf7;
  --lightgrey: #83888f;
  --lightgreen: #66d2cf;
}

body {
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 162%;
  background-color: var(--cream);
}

h1,
h2,
h3,
h4 {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
}

h1 {
  font-size: 7.2rem;
  line-height: 100%;
}

h2 {
  font-size: 4rem;
  line-height: 120%;
}

h3 {
  font-size: 3.2rem;
  line-height: 112%;
}

h4 {
  font-size: 2.4rem;
  line-height: 133%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  outline: none;
  border: none;
  color: inherit;
}

.btn {
  padding: 1.5rem;
  min-width: 21.7rem;
  width: 21.7rem;
  background: var(--green);
  border-radius: 6px;
  display: inline-block;
  text-align: center;
  color: var(--cream);
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 1.8rem;
  line-height: 139%;
  flex-grow: 0;

  &:hover {
    background: var(--lightgreen);
  }
  &:disabled {
    background: #e2dedb;
  }
}

.container {
  max-width: 142rem;
  margin: 0 auto;
  padding: 0 2.4rem 7.2rem;
  height: 100%;
  @media (min-width: 768px) {
    padding: 0 4rem;
  }
  @media (min-width: 1024px) {
    padding: 0 8rem 8.8rem;
  }
}
.container-inner {
  padding: 0 2.4rem;
  @media (min-width: 768px) {
    padding: 0 5.7rem;
  }
  @media (min-width: 1024px) {
    padding: 0 8.5rem;
  }
}

.section {
  margin-bottom: 12rem;
  @media (min-width: 768px) {
    margin-bottom: 14.4rem;
  }
  @media (min-width: 1024px) {
    margin-bottom: 20rem;
  }
}

.light {
  opacity: 0.4;
}
